extends ../templates/template
block menu
    - pageActive = 'about'
    include ../includes/main-menu
block title
    h1.title About
    .about
        .about__img.show
            img(src="assets/img/about.jpg", alt="About image 1")
        .about__text.show
            h2 Title 1
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem similique consectetur quaerat nemo deleniti, beatae tenetur quos esse veritatis aspernatur excepturi accusamus ab reprehenderit eligendi perferendis vitae, incidunt repellendus? Commodi.
        .about__img
            img(src="assets/img/about2.jpg", alt="About image 2")
        .about__text
            h2 Title 2
            p Voluptatem similique consectetur quaerat nemo deleniti, beatae tenetur quos esse veritatis aspernatur excepturi accusamus ab reprehenderit eligendi perferendis vitae, incidunt repellendus? Commodi.
        .about__img
            img(src="assets/img/about3.jpg", alt="About image 3")
        .about__text
            h2 Title 3
            p Voluptatem similique consectetur quaerat nemo deleniti, beatae tenetur quos esse veritatis aspernatur excepturi accusamus ab reprehenderit eligendi perferendis vitae, incidunt repellendus? Commodi.
    .controls
        i.fas.fa-chevron-circle-left#prev
        i.fas.fa-chevron-circle-right#next
